:local(.rebate-qr-code-wrap) {
  z-index: 9000px;
  @apply w-80 rounded-2xl overflow-hidden bg-transparent !important;

  .qr-code-wrap {
    height: 524px;
    @apply w-full relative bg-transparent;

    .popup-wrap {
      height: 460px;
      @apply w-full relative;
    
      .qr-code-wrap-img {
        @apply w-full h-full absolute;
      }
    
      .popup-content {
        @apply p-5 w-full h-full absolute overflow-hidden box-border;
    
        .title {
          @apply flex items-center text-brand_color text-base;
    
          .back {
            width: 26px;
            height: 26px;
    
            svg {
              @apply w-full h-full;
            }
          }

          span {
            @apply flex-1 truncate font-medium;
          }
        }
    
        .content {
          @apply w-full truncate mt-3 mb-5 text-sm font-normal text-button_text_01;
        }
    
        .qr-wrap {
          width: 280px;
          height: 340px;
          @apply p-4 rounded-lg bg-button_text_01;
    
          .button-wrap {
            @apply mt-4 py-2.5 rounded bg-card_bg_color_04 box-border flex items-center justify-center text-button_text_02;
    
            .label {
              @apply text-sm font-normal;
            }
    
            .value {
              @apply ml-3 text-xl font-medium;
            }
          }
        }
      }
    }
    
    .wrap-icon {
      @apply absolute left-1/2 bottom-0 -translate-x-1/2 w-8 h-8;

      svg {
        @apply w-full h-full;
      }
    }
  }
}