:local(.welfare-center) {
  @apply bg-card_bg_color_03;


  .common-12-content {
    @apply text-xs font-normal leading-[18px];
  }

  .banner {
    height: 90px;
    @apply bg-card_bg_color_01 px-4 relative;

    .banner-title {
      @apply text-text_color_01 text-base font-medium absolute z-1;

      top: 18px;
    }

    .banner-tip {
      @apply text-text_color_03 text-sm font-normal mt-2 absolute z-1;

      bottom: 18px;
    }

    .banner-bg {
      @apply absolute top-0 left-0;
    }
  }

  .tab-switch {
    @apply bg-bg_color;
    
    .line {
      height: 1px;
      @apply scale-y-50 w-full bg-line_color_02;
    }

    .rv-tab__text {
      @apply text-base;
    }
  }

  .card-switch {
    @apply pl-4 pt-4 bg-bg_color;

    .btn {
      @apply px-4 py-1 bg-bg_sr_color text-sm text-text_color_02 font-medium mr-4 cursor-pointer relative;

      border-radius: 18px;

      &.active {
        @apply bg-brand_color text-sm font-medium text-button_text_02;
      }

      &.has-new::before {
        top: -3px;
        right: 6px;
        background-color: #F6465D;
        content: '';
        @apply w-2 h-2 rounded-full absolute
      }
    }

    .voucher-direction {
      @apply text-xs text-text_color_03 font-normal ;

      .tip-icon {
        @apply ml-1 text-text_color_03;
      }
    }
  }

}