:local(.scoped) {
  @apply flex flex-1 flex-col mx-4 justify-center;

  .rv-checkbox__icon {
    @apply text-base;

    svg {
      @apply rounded;
    }
  }
      
  .legend {
    @apply flex flex-col text-xs mb-2 last:mb-0;
      
    .legend-header {
      height: 18px;
      @apply flex items-center justify-between mb-2;
      
      .legend-icon {
        @apply h-1.5 w-1.5 rounded-full;
      }
      
      .legend-title {
        min-width: 70px;
        @apply font-normal text-text_color_01 mx-1 text-sm;
      }
      
      .legend-tag {
        height: 18px;
        transform: scale(0.83);
        @apply px-2;
      }

      span { 
        @apply text-sm font-medium text-text_color_02; 
      }
      

      > :last-child {
        span { 
          @apply text-text_color_01; 
        }
      }
    }
      
    .legend-num {
      @apply text-text_color_02 ml-3.5 mt-px;
    }
    
  }
}